# Execution parameters
---
preprocess:
  fastp:
    length_required: 25  # nonpareil requires at least 25bp
    extra: "--trim_poly_g --trim_poly_x"
  bowtie2-build:
    memory_gb: 8
  bowtie2:
    memory_gb: 64
    samtools:
      mem_per_thread: 1G

read_annotate:
  diamond:
    max-target-seqs: 1    # Max. number of hits per query
  kraken2:
    memory_gb: 32
  nonpareil:
    X: 100    #Default: 1000, smaller for testing!!!
  humann:
    additional_options: "--remove-temp-output"

assemble:
  megahit:
    mincount: 2
    kmin: 21  # (complex, set to 27)
    kmax: 141 # (complex, set to 127)
    kstep: 10
    min_contig_len: 1500 # (make is short for complex, 500)
    memory_gb: 32
    additional_options: ""  # For deep sequenced samples (e.g. > 30x, add --no-mercy for a less noisy graph)
  metaspades:
    kmer_size: "21,33,55"
    additional_options: "--only-assembler"
  metabat:
    min_contig_len: 1500 # (make is short for complex, 500)
  maxbin:
    min_contig_len: 1500 # (make is short for complex, 500)
  bowtie2-build:
    memory_gb: 16
  bowtie2:
    memory_gb: 32
  samtools:
    mem: 8G   # Take care that there is enough memory reserved for the bowtie map rule, the memory is per thread! Or reduce that value
  drep:
    completeness: 50  # Default: 50
    contamination: 50 # Default: 50
    P_ani: 0.9  # Default: 0.9
    S_ani: 0.95  # Default: 0.95
    nc: 0.1 # Default: 0.1
    extra: " " # Default: ""
  magscot:
    extra: "" # Default: "", different value might be relicts from testing
    threshold : "0.5" # Scoring minimum completeness threshold [default=0.5]"

quantify:
  bowtie2-build:
    memory_gb: 32
  bowtie2:
    memory_gb: 32
  samtools:
    mem: 1G
  coverm:
    genome:
      methods:  ["count", "covered_bases", "length", "tpm"]  # https://github.com/wwood/CoverM#calculation-methods
      min_covered_fraction: 0.0
      separator: "@"
    contig:
      methods:  ["count", "covered_bases", "length", "tpm"]  # https://github.com/wwood/CoverM#calculation-methods

mag_annotate:
  bakta:
    additional_options: " --skip-crispr --skip-plot "
  phylophlan:
    diversity: "high"
    
contig_annotate:
  prodigal:
    split: 1000000   # For quicker data processing is the prodigal output processed in chunks of this size
  hmmer:
    domt:
      fefe: 15.9
      nife: 34.5
      fe: 54.4
      fallback: 10.0   # fallback value for unknown databases